.dog-image {
  margin: -12% 0;
  width: 100%;
  height: auto;
}

.banner-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.adopt-now-btn {
    color:#EF3E42;
}

.dog-card-text {
    color:#EF3E42;
    
}

.btn-text {
    position: absolute;
    width: 50%;
    top: 84%;
    left: 15%;
    transform: translate(-50%, -50%);

}
